*{
	margin: 0 auto;
	padding: 0;
}
header#header {
    
}
div#top-bar {
    height: 30px;
    line-height: 30px;
    background-color: #F8F8F8;
    margin-top: -10px;
}


.top_left {
    padding-left: 20px;
}
.top_left ul li {
    list-style-type: none;
    float: left;
    margin-right: 15px;
}
a, a:hover{
	color: #333;
	text-decoration: none;
}
.top_right {
    float: right;
}
.top_right ul li {
    list-style-type: none;
    float: left;
    margin-right: 15px;
}
.top_right ul li a img {
    width: 20px;
}
.header-main {
    height: 90px;
    padding-top: 20px;
    margin-bottom: 20px;
}
ul.header_manin_right li a img {
    width: 20px;
    margin-right: 5px;
}
ul.header_manin_right li {
    float: left;
    margin-right: 15px;
    list-style-type: none;
}
.top_left ul li a img {
    margin-right: 5px;
}
i.glyphicon.glyphicon-chevron-down {
    margin-left: 5px;
    font-size: 10px;
}
li.number_head {
    background: #AD0800;
    width: 20px;
    border-radius: 50%;
}
li.number_head a {
    padding: 6px;
    color: #fff;
}
input.search {
    width: 370px;
    height: 30px;
    padding-left: 10px;
}
form.form-search button {
    height: 30px;
    width: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 0;
    background: #AD0800;
    color: #fff;
    margin-left: -4px;
}
nav.menu ul li {
    list-style-type: none;
    float: left;
    margin-right: 15px;
}
nav.menu ul li a {
    text-transform: uppercase;
    color: #fff;
}
.header-bottom {
    background: #AD0800;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
}

.carousel-caption {
    right: 20%;
    left: -30%;
    padding-bottom: 195px;
}
.carousel-caption h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: -105px;
}
.carousel-caption h1 {
    font-size: 60px;
    font-weight: 900;
    margin-left: -156px;
}
.carousel-caption p {
    margin-left: 60px;
}
div#button_slider {
    margin-bottom: -120px;
    margin-left: -100px;
}
button#view {
    width: 150px;
    height: 40px;
    background-color: #FFFFFF;
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
}
button#buy_now {
    background: #A0170D;
    width: 150px;
    height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 15px;
}
.top-content p {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}
.top-content {
    height: 35px;
    line-height: 35px;
    background: #F8F8F8;
}
.banner-category img {
    width: 100%;
}
.chewron {
    height: 70px;
    line-height: 70px;
}
.heading_h3 h3 {
    float: left;
    background: #A0170D;
    width: 130px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid;
    margin-bottom: 0px;
}
.heading_h3 {
    padding-left: 0;
    border-bottom: 1px solid #C8CEDA;
}
.pr_ct img {
    width: 100%;
}
i.glyphicon.glyphicon-star-empty {
    float: left;
    text-align: center;
}
.title_product h4 {
    text-align: center;
}
.product_right img {
    width: 100%;
}
.heading_h3_right h4 {
    height: 50px;
    line-height: 50px;
    background-color: #18A4D8;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.pice {
    clear: both;
    text-align: center;
}
.title_product {
    text-align: center;
}
.img_pr img {
    width: 100%;
}
.col-subscribe {
    background: #AD0800;
    color: #fff;
    margin-top: 30px;
    height: 250px;
}
.email {
    text-align: center;
    padding: 20px;
}
.email img {
    width: 10%;
}
.text-subcribe h2 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
}
.text-subcribe {
    text-align: center;
}
.form-subscribe {
    text-align: center;
}
.form-subscribe input {
    width: 454px;
    height: 35px;
    padding-left: 10px;
}
.form-subscribe button {
    width: 100px;
    height: 35px;
    background-color: #000000;
    border: 0;
    text-transform: uppercase;
    font-weight: inherit;
}
.add-to-cart button {
    width: 130px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #F0F0F1;
}
.product_right {
    margin-top: 30px;
}
.product_img img {
    width: 100%;
}
.product_img {
    margin-top: 30px;
}
.img_pr1 {
    padding-left: 0;
}
.img_pr2 {
    padding-right: 0;
}
.product4 {
    margin-top: 30px;
}
.left img {
    width: 100%;
}
.img_3 {
    float: left;
}
.title_product3 {
    float: left;
    margin-left: 30px;
}
.clr{
	clear: both;
}
.product_sub {
    margin-top: 30px;
}
.h3_title h3 {
    margin-top: 0px;
}
.right {
    border: 2px solid #A19C9C;
}
.cot1 {
    border-right: 2px solid #A19C9C;
}
.h3_title h3 {
    margin-top: 15px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}
.new img {
    width: 100%;
}
.text-new {
    margin-top: 10px;
}
.plant img {
    width: 5%;
    float: left;
    margin-right: 10px;
}
.banner-2 {
	background-image: url(../img/tren-tay-ipad.jpg);
	height: auto;
}
.pr_ct_1 img{
	width: 100%;
}
.pr_ct_1 {
    padding-top: 30px;
    padding-bottom: 30px;
}
#title_product {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    margin-top: -10px;
}
#partner{
	background-color: #fff;
	margin:50px;
}
#p1 img{
	width: 100%
}
#footer{
	background: #710303;
	height: 300px;
	padding-top: 20px;
}
.text_footer{
	color: #fff;
}
.new {
    padding-top: 20px;
}
.lo_partner ul li {
    list-style-type: none;
    float: left;
    margin-right: 15px;
}
i.icon.angle.right {
    color: #fff;
    border: 0;
    font-size: 20px;
}
.list ul li {
    list-style-type: none;
}
.list ul li a{
    color: #fff;
}
.head_h4 h4 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.list p {
    color: #fff;
}
.copy-right p {
    color: #fff;
}
.list-bottom ul li {
    float: left;
    margin-right: 15px;
    list-style-type: none;
}
.list-bottom ul li a{
   color: #fff
}
.thurnm-menu {
    height: 30px;
    background-color: #F2F2F2;
    padding-left: 20px;
}
.thurnm-menu ul li {
    list-style-type: none;
    float: left;
    margin-right: 15px;
}
.thurnm-menu ul li a{
    color: #333;
}
div#carousel-caption {
    left: 0;
    right: 0;
    top: 90px;
}
div#carousel-caption h3 {
    margin-left: 0px;
}
.list-page ul li {
    float: left;
    margin-right: 15px;
    list-style-type: none;
    font-size: 15px;
}
.list-page ul li img {
    margin-right: 5px;
}
ul.list-number {
    float: left;
    margin-right: 60px;
}
.list-page {
    margin-top: 20px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-top: 15px;
}
div#content-product img {
    width: 100%;
}
.content-product{
    padding-top: 20px;
}
.product {
    padding-left: 0;
    padding-right: 0;
}
.sidebar {
    padding-left: 0;
}
h3.heading_h3_product {
    background: #18A3D7;
    height: 40px;
    line-height: 40px;
}
h3.heading_h3_product a{
	color: #fff;
	margin-left: 20px;
}
img.icon_sidebar {
    width: 10%;
    margin-left: 15px;
}
.menu-sidebar ul li {
    list-style-type: none;
}
.menu-sidebar ul li a {
    font-size: 20px;

}
ul.sub-menu-sidebar li a {
    font-size: 15px;
    padding-left: 52px;
}
.menu-sidebar {
    background: #F3F3F3;
    padding: 10px;
    clear: both;
}
.sidebar-text {
    float: left;
    margin-top: 10px;
}
.checkout button {
    height: 32px;
    width: 100px;
    background: #fff;
    border: 1px solid #333;
}
.subscribe_sidebar {
    background: #AD0800;
    padding: 20px;
}
.email-sb img {
    width: 20%;
}
.email-sb h2 {
    float: right;
    margin-top: 0;
    color: #fff;
}
.text-subcribe-sb {
    clear: both;
    color: #fff;
}
.form-subscribe-sb input {
    width: 230px;
    height: 35px;
    padding-left: 10px;
}
.form-subscribe-sb button {
    width: 100px;
    height: 35px;
    background-color: #000000;
    border: 0;
    text-transform: uppercase;
    font-weight: inherit;
    color: #fff;
    margin-top: 10px;
}
.form-contact h2 {
    color: #333;
    font-weight: 600;
    font-size: 25px;
}
.ip-contact {
    width: 342px;
    height: 34px;
}
.lname {
    float: left;
    margin-right: 15px;
}
.email-ct {
    float: left;
}
.lcompany {
    float: left;
    margin-right: 15px;
}
.telephone {
    float: left;
}
.ip-contact-ad {
    height: 35px;
    width: 85%;
}
#contact-us {
    padding-left: 0;
}
.submit button {
    width: 100px;
    height: 35px;
    background: #710303;
    border: 0;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
.form-contact input {
    background: #F2F2F2;
    border: 1px solid #D3D3D3;
}
.comment textarea {
    background: #F2F2F2;
    border: 1px solid #D3D3D3;
}
.head-h3 h3 {
    background: #AD0800;
    padding: 10px;
    padding-left: 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
}
#blog {
    padding-left: 0;
}
.blog-span {
    font-weight: bold;
    font-size: 16px;
}
.blog-content {
    margin-top: 20px;
}
.submit-blog button {
    width: 100px;
    height: 35px;
    background: #710303;
    border: 0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
.text-recently {
    margin-top: 20px;
}
.banner-sidebar img {
    width: 100%;
    border: 1px solid #333;
    padding: 12px;
}
.img_product_detail img {
    width: 100%;
    margin-top: 20px;
}
.img_product_detail{
	padding-left:0px;
}
.product_detail{
	padding-left: 0px;
}
.review-text ul li {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    list-style-type: none;
}
.h3_heading {
    border-bottom: 1px solid #333;
}
.review-text ul {
    border-bottom: 1px solid #333;
    height: 32px;
}
.pice_product_detail del {
    float: left;
    font-size: 20px;
    font-weight: 600;
    color: #808080;
}
.pice_product_detail {
    border-bottom: 1px solid #333;
    height: 32px;
}
p.pice_poduct_detail_sub {
    float: left;
    margin-left: 15px;
    font-size: 20px;
    color: #FF0000;
    font-weight: 600;
}
.product_detail_text {
    float: left;
}